
<form action="/admin/pm/add" method="POST">
<h1> Add MP </h1>
<p> Name : <input name="name" type="text"   /></p>
<p> Line : <input name="line" type="text"  /></p>
<p> Objectives: <input name="objectives" type="text" /> </p>
<p> ProfilePic : <input name="profile_pic" type="text"  /></p>
 <p> <input type="submit" value="Save" /></p>
</form> 
 
    